* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }


:root {
  --font-color: #ff6b06;
  --background-color: #ff6b06;
  --background-dark: #f3f3f3;
  --font-light: #333;
}

nav {
  width: 100%;
  height: 6rem;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin-right: 1rem;
  padding: 0;
  float: right;
}

li {
  display: inline;
}

li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.5rem 0.8rem;
  float: left;
}

nav img {
  float: left;
  height: 3rem;
  width: auto;
  margin: 1.5rem 0.8rem 1.5rem 2rem;
}

.dropdown {
  display: none;
  position: relative;
  display: inline-block;
  float: right;
}

.dropbtn {
  background-color: var(--background-color);
  color: white;
  padding: 1em;
  font-size: 0.9em;
  border: none;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  right: 0;
}

.drop-content a {
  color: var(--font-light);
  padding: 12px 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;

}

.dropdown img {
  height: 16px;
  width: auto;
}

.dropdown:hover .drop-content {
  display: block;

}

.header-image {
  background-image: url(header_tacos.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.word-logo {
  width: 220px;
  padding-top: 1em;
}

.logo {
 width: 160px;
}

.about, .contact {
  width: min(80%, 1200px);
  margin: 0 auto;
  padding: 7em 0;
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--font-color);
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 2em 0;
}

.delivery {
  height: 200px;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.delivery img {
  height: auto;
  width: 20%;
}

.menu {
  margin: 0 auto;
  padding: 7em 0;
  text-align: center;
}

.menu p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 1em 0 2.5em 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin: 1.5em 0 1em 0;
}

#smaller {
  margin-bottom: 0;
}

.menu-title {
  padding: 2em 0;
}

.menu-grid {
  margin: 0 auto;
  display: grid;
  width: min(80%, 1300px);
  height: auto;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-gap: 4%;
}

.menu-grid-2 {
  margin: 0 auto;
  padding: 2em 0;
  display: grid;
  width: min(80%, 1300px);
  height: auto;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-gap: 4%;
}

.box {
  border-bottom: 1px grey solid;
  text-align: left;
  height: 140px;
}

.box p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--font-light);
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
}

.box h2 {
  margin: 0.8rem 0 1rem 0;
}

span {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

h1.title {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
}

.locations {
  background-color: var(--background-dark);
  margin: 0 auto;
}

.container {
  width: min(70%, 1700px);
  height: 500px;
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  padding: 5em 0 2em 0;
}

.location_text {
  width: 40%;
}

.location_text p {
  font-family: 'Open Sans', sans-serif;
  margin: 1rem 0;
}

.map {
  width: 50%;
}

.map img {
  width: min(100%, 560px);
  height: auto;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
}

.banner {
  width: 100%;
  background-image: url(taco_banner.jpeg);
  background-position: center;
  background-size: cover;
  height: 700px;
}

.right {
  width: 50%;
  text-align: left;
  padding: 4em 5em;
}

.left {
  width: 50%;
  overflow: hidden;
}

.left img {
  width: auto;
  height: 100%;
  float: right;
}

#catering {
  background-color: var(--background-dark);
}

.container-var {
  height: 500px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

footer {
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
  padding: 3em 0 0.5em 0;
}

.icons img {
  width: 50px;
  height: auto;
  display: inline;
  padding: 0.6em;
}

.icons p {
  color: white;
  margin: 2em auto 1em auto;
  font-size: 0.9em;
}

/*formatting for mobile */
@media screen and (max-width: 430px)  {

  ul, li a, header a {
    display: none;
  }

  p, .icons p, strong {
    font-size: 0.8rem;
    line-height: 1.75rem;
  }

  .box p {
    font-size: 0.8rem;
    line-height: 1.75rem;
  }

  .box {
    height: 180px;
  }

  #smaller {
    width: 75%;
    margin: auto;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2, span {
    font-size: 0.8rem;
  }

  .box h2 {
    margin: 1rem 0;
  }

  .menu, .about, .contact{
    padding: 4em 0;
  }

  .header-image {
    height: 400px;
  }

  .word-logo {
    width: 100px;
    padding-top: 0.5em;
  }

  .logo {
   width: 80px;
  }

  .delivery {
    height: 120px;
  }

  .delivery img {
    width: 25%;
  }

  .menu-title {
    padding: 0;
  }

  .menu-grid {
    display: block;
  }

  .menu-grid-2 {
    display: block;
  }

  .box {
    height: 100px;
  }

  #dessert {
    padding-top: 3em;
  }

  h1.title {
    padding: 2rem;
  }

  .location_text {
    width: 50%;
    margin: 0 auto;
  }

  .map {
    width: 100%;
    padding-top: 2em;
  }

  .map img {
    width: 100%;
    height: auto;
    display: block;
  }

  .container {
    display: block;
    height: auto;
    width: 100%;
    padding: 4em 0 0 0;
  }

  .banner {
    height: 400px;
  }

  .container-var {
    display: block;
    height: auto;
  }

  .right {
    width: 70%;
    padding: 3em 2em 2em 4em;;
  }

  .left {
    width: 100%;
  }

  .left img {
    width: 100%;
    height: auto;
    display: block;
    float: none;
  }

  .icons img {
    width: 50px;
  }

  footer {
    padding-top: 2em;
  }
}

/* mobile landscape */
@media screen and (max-width: 746px) and (min-width: 431px) {

  ul, li a, header a {
    display: none;
  }

  p, .icons p, strong {
    font-size: 0.8rem;
  }

  .box p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2, span {
    font-size: 1rem;
  }

  .menu, .about, .contact{
    padding: 4em 0;
  }

  .about, .contact {
    width: 60%;
  }

  .header-image {
    height: 400px;
  }

  .word-logo {
    width: 100px;
    padding-top: 0.5em;
  }

  .logo {
   width: 80px;
  }

  .delivery {
    height: 140px;
  }

  .menu-title {
    padding: 0;
  }

  .menu-grid {
    display: block;
  }

  .menu-grid-2 {
    display: block;
  }

  .box {
    height: 110px;
  }

  #dessert {
    padding-top: 3em;
  }

  h1.title {
    padding: 2rem;
  }

  .location_text {
    width: 50%;
    margin: 0 auto;
  }

  .map {
    width: 100%;
    padding-top: 1em;
  }

  .map img {
    height: 320px;
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .container {
    display: block;
    height: 700px;
    width: 100%;
  }

  .banner {
    height: 400px;
  }

  .container-var {
    display: block;
    height: auto;
  }

  .right {
    width: 50%;
    padding: 3em 2em 2em 8em;
  }

  .left {
    width: 100%;
  }

  .left img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: block;
  }

  footer {
    padding-top: 2em;
  }
}

/* formatting for tablet */
@media screen and (max-width: 899px) and (min-width: 747px){

  .container {
    height: 400px;
    padding: 4em 0 2em 0;
  }

  .container-var {
    height: 560px;
  }

  .right {
    padding: 3em 4em;
  }

  li a {
    padding: 1.1em 0.4em;
    font-size: 0.8rem;
  }

  p, .icons p, strong {
    font-size: 1rem;
  }

  .box p {
    font-size: 1rem;
  }

  .map {
    padding: 4em 2em;
  }

  .map img {
    height: 250px;
    width: auto;
  }

  .left {
    width: 50%;
  }

  .left img {
    float: center;
  }

}

@media screen and (min-width: 747px) {

  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 1120px) and (min-width: 900px) {

  p, .icons p, strong {
    font-size: 1rem;
  }

  .box p {
    font-size: 1.1rem;
  }

  .locations {
  height: 580px;
  }

  .container-var {
    height: 530px;
  }

  .map {
    padding: 3em 2em 4em 2em;
  }
}

/* Formatting for larger screens */
@media screen and (min-width: 1600px) and (max-width: 1999px) {

    nav {
      height: 6.1rem;
    }

    h1 {
      font-size: 2.4rem;
    }

    h2, span {
      font-size: 1.6rem;
    }

    .delivery img {
      width: 17%;
    }

    p, .icons p, strong {
      font-size: 1.1rem;
    }

    .box p {
      font-size: 1.1rem;
    }

    li a {
      font-size: 1rem;
    }

    .container-var, .container {
      height: 600px;
    }

    .header-image {
      height: 900px;
    }

    .left img {
      width: 85%;
      height: auto;
      float: right;
    }

}

@media screen and (min-width: 2000px) and (max-width: 2400px){

  nav {
    height: 8rem;
  }

  nav img {
    height: 4.4rem;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2, span {
    font-size: 1.8rem;
  }

  p, .icons p, strong {
  font-size: 1.6rem;
  }

  .box p {
  font-size: 1.5rem;
  }

  li a {
  font-size: 1.5rem;
  }

  .container-var, .container {
  height: 600px;
  }

  .header-image {
  height: 1200px;
  }

  .map img {
  width: 650px;
  }

  .map {
  width: 50%;
  margin: 0 auto;
  }

  .word-logo {
  width: 320px;
  padding-top: 1em;
  }

  .logo {
  width: 260px;
  }

  .left img {
    width: 85%;
    height: auto;
    float: right;
  }
 }

@media screen and (min-width: 2401px) {

   nav {
     height: 10rem;
   }

   nav img {
     height: 6rem;
   }

   h1 {
     font-size: 3rem;
   }

   h2, span {
     font-size: 1.8rem;
   }

   p {
     line-height: 2.5rem;
   }

   p, .icons p, strong {
     font-size: 1.6rem;
   }

   .box p {
     font-size: 1.5rem;
   }

   .box{
     height: 200px;
   }

   li a {
      font-size: 2rem;
    }

   .container-var, .container {
      height: 800px;
    }

   .header-image {
      height: 1600px;
    }

   .map img {
      width: 650px;
    }

   .map {
      width: 38%;
    }

   .word-logo {
      width: 320px;
      padding-top: 1em;
    }

   .logo {
      width: 260px;
    }

   .delivery {
      height: 300px;
    }

   .delivery img {
      width: 15%;
     }

    .about, .contact {
      padding: 10rem 0;
    }

   .right {
      padding: 8em 16em 8em 40em;
    }

    .left img {
      width: 60%;
      height: auto;
    }

    .banner {
      height: 1000px;
    }

   .container {
      padding-top: 6em;
    }
 }
